@import '../../../styles/variables.scss';

.tabs {
  display: flex;
  border-bottom: 1px solid $grey;
  padding: 0;
  line-height: 1rem;

  .tab {
    padding: 0.5rem 1rem;
    color: $grey;
    cursor: pointer;
    transition: all 0.5s ease;

    &.activeTab {
      color: $primaryColor;
      font-weight: 600;
      border-bottom: 1px solid $primaryColor;
    }
  }
}