.button {
  background-color: #fff;
  border: 1px solid #007DFC;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.primary {
    background-color: #007DFC;
    color: #fff;
  }

  &.curved {
    border-radius: 8px;
  }

  &.oval {
    border-radius: 40px;
  }

  &.small {
    font-size: 1rem;
  }

  &.large {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}

.navButtonLink {
  color: #fff
}