.card {
  background-color: #fff;
  border-radius: 12px;
  // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
  
  // &:hover {
  //   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  // }

  @media screen and (min-width: 768px) {
    padding: 24px;
  }

  @media screen and (min-width: 1024px) {
    padding: 32px;
  }
}