@import '../../../styles/variables.scss';

.header {
  margin: 16px 0px;
}

.subheading {
  color: $grey;
}

.registerCard {
  margin: 48px auto 0px;
  max-width: 620px;

  @media screen and (min-width: 768px) {
    margin: 64px auto 0px;
  }

  @media screen and (min-width: 1024px) {
    margin: 96px auto 0px;
  }
}

.button {
  width: 100%;
}

.passwordCheckMessage {
  color: red;
  font-size: 0.85rem;
}