@import '../../../styles/variables.scss';

.events {
  display: grid;
  gap: 0.75rem;
}

.event {
  .eventInner {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem !important;

    .createdAt {
      opacity: 0.6;
    }
  
    .networkType {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primaryColorLight !important;
      color: black !important;
      width: fit-content;
      border: none !important;
      font-size: 0.85rem !important;
      position: relative;
      cursor: default;
      
      &.mainnet {
        background-color: $lightGreen !important;
      }
    }

    .eventPayloadViewContainer {
      display: flex;
      justify-content: flex-end;
    }

    .copyButtonContainer {
      display: flex;
      justify-content: flex-end;

      .copyButton {
        background-color: $primaryColorLight !important;
        border: none;
        color: #000;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        .copyIcon {
          object-fit: contain;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;

  .paginationContainer {
    background-color: #000;
  }

  .paginationPage,
  .paginationNextButton,
  .paginationPreviousButton {
    padding: 0.5rem 0.75rem;
    background-color: $lightGrey;
    border-radius: 4px;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
      background-color: $grey;
    }
  }

  .paginationActivePage {
    background-color: $primaryColor;
    color: #fff;
    font-weight: 600;
  }
}