// variables in scss
$primaryColor: #007DFC;
$primaryColorLight: #E5F2FF;
$primaryColorLight: #007efc20;
$grey: #969696;
$lightGrey: #d8d8d8;
$green: #008000;
$lightGreen: #E5F2E5;

// Usage in scss
// import variables css

// use variables imported